---
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";

const pageTitle = "My Main Titleeeee";
const champions = ["Vayne", "Twitch"];

const nameColor = "red";
---

<Layout title={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
    {
      champions.map((champ) =>
        champ.length > 5 ? <div>name: {champ}</div> : <h3>name: {champ}</h3>
      )
    }
    <Social platform="bacefook" username="wtiwwer" />
  </main>
</Layout>
<style define:vars={{ nameColor }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  div {
    color: var(--nameColor);
    font-weight: bold;
  }
</style>
